/* indica el estilo del html */
html {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
/* indica el estilo del cuerpo de la pagina */
body {
    margin: 0;
}
header {
    background-image: url("./../img/header.png");
    background-size: cover;
    position: relative;
    font-size: 0.5rem;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    width: 100%;
    text-align: center;
    display: flex;
}
nav a {
    padding: 30px;
    text-decoration: none;
    color: white;
    background-color: black;
}  
nav a:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}
.navheader {
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}
.navheader-derecha {
    display: flex;
}
